@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?tvt6dy#iefix") format("embedded-opentype"), url("./fonts/icomoon.ttf?tvt6dy") format("truetype"), url("./fonts/icomoon.woff?tvt6dy") format("woff"), url("./fonts/icomoon.svg?tvt6dy#icomoon") format("svg");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}
button:not([disabled]):hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.mcq-list {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

.mcq-option {
  cursor: default;
  margin: 0.2rem 0 0.2rem;
  padding: 1rem 1rem 1rem;
  border: 1px solid;
  border-radius: 0.2rem;
  box-shadow: transparent 0 0.2rem 0.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.mcq-option:not(.ignore-hover):hover {
  cursor: pointer;
  background-color: #7f7f7f;
}

.mcq-option.selected {
  background-color: #7f7f7f;
  color: white;
  border-color: black;
}

.mcq-option.wrong {
  background-color: #f2dede;
  color: #a94442;
}

.mcq-option.correct {
  background-color: #dff0d8;
  color: #3c763d;
}

.mcq-button {
  color: #ffffff;
  background-color: #7f7f7f;
  border-color: #c3e6cb;
  cursor: pointer;
}

.mcq-button:disabled {  
  opacity: 50%;
  cursor: default;
}

.submit {
  background-color: #7f7f7f;
}

.next {
  background-color: #2a52be;
}

.mcq-option-label:not(.ignore-hover):hover {
  cursor: pointer;
}

input[type=radio] {
  cursor: default;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  font-family: "icomoon";
  margin: 0 12px 0 0;
  border-radius: 50%;
  appearance: none; 
}

input[type=radio]:not(.ignore-hover):hover {
  cursor: pointer;
}

.selected input[type=radio]:checked {
  border-color: white;
}

.selected input[type=radio]:checked::before {
  color: #ffffff;
  content: "\e906";
  display: flex;
  align-items: center;
  justify-content: center;   
}

.correct input[type=radio],
.correct input[type=radio]:checked {
  border-color: #3c763d;
}

.correct input[type=radio]::before {
  color: #3c763d;
  border-color: #3c763d;
  content: "\f00c";
  display: flex;
  align-items: center;
  justify-content: center; 
}

.wrong input[type=radio]:checked {
  border-color: #a94442;
}

.wrong input[type=radio]::before {
  color: #a94442;
  border-color: #a94442;
  content: "\f00d";
  display: flex;
  align-items: center;
  justify-content: center; 
}
